---
apiVersion: 1
prune: true
datasources:
  - name: Cloudfall Loki
    uid: cloudfall-loki
    type: loki
    access: proxy
    url: "http://{{ cloudfall_logging_backend_stack.backend.listenAddress }}:{{ cloudfall_logging_backend_stack.backend.port }}"
    isDefault: true
    editable: false
