---
apiVersion: 1
prune: false
datasources:
  - name: Cloudfall Prometheus
    uid: cloudfall-prometheus
    type: prometheus
    access: proxy
    url: "http://{{ cloudfall_logging_backend_stack.metrics.backend.listenAddress }}:{{ cloudfall_logging_backend_stack.metrics.backend.port }}"
    isDefault: false
    editable: false
