# Managed by Cloudfall. Local changes will be overwritten.
{% set names = (
    [cloudfall_nginx_site_domain.primaryName]
    + cloudfall_nginx_site_domain.aliases
  ) | join(' ') %}
{% set upstream_address = cloudfall_nginx_site_domain.proxy.upstream.address %}
{% set upstream_host = '[' ~ upstream_address ~ ']'
    if ':' in upstream_address else upstream_address %}
{% macro proxy_location() %}
    location / {
        proxy_http_version 1.1;
        proxy_pass http://{{ upstream_host }}:{{ cloudfall_nginx_site_domain.proxy.upstream.port }};
        proxy_pass_request_headers on;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port $server_port;
    }
{% endmacro %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ names }};

    location /.well-known/acme-challenge/ {
        root {{ cloudfall_nginx_site_acme_webroot }};
    }

{% if cloudfall_nginx_site_tls_active %}
    location / {
        return 301 https://$host$request_uri;
    }
{% else %}
{{ proxy_location() -}}
{% endif %}
}
{% if cloudfall_nginx_site_tls_active %}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name {{ names }};

    ssl_certificate /etc/letsencrypt/live/{{ cloudfall_nginx_site_domain.primaryName }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ cloudfall_nginx_site_domain.primaryName }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_tickets off;

{{ proxy_location() -}}
}
{% endif %}
