logging {
  level  = "info"
  format = "logfmt"
}

loki.relabel "journal" {
  forward_to = []

  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }
}

loki.write "atlas" {
  external_labels = {
    environment = "{{ atlas_logging_collector_stack.environment }}",
    server      = "{{ atlas_server_id }}",
  }

  endpoint {
    url = "https://{{ atlas_logging_collector_stack.gateway.serverName }}:{{ atlas_logging_collector_stack.gateway.port }}/loki/api/v1/push"

    tls_config {
      ca_file     = "{{ atlas_logging_collector_stack.collectors.clientTls.caPath }}"
      cert_file   = "{{ atlas_logging_collector_stack.collectors.clientTls.certificatePath }}"
      key_file    = "{{ atlas_logging_collector_stack.collectors.clientTls.keyPath }}"
      server_name = "{{ atlas_logging_collector_stack.gateway.serverName }}"
      min_version = "TLS12"
    }
  }
}

loki.source.journal "systemd" {
  forward_to    = [loki.write.atlas.receiver]
  relabel_rules = loki.relabel.journal.rules
  max_age       = "{{ atlas_logging_collector_stack.collectors.journal.maxAgeHours }}h"
  labels = {
    source = "journal",
  }
}
{% for item in atlas_logging_collector_stack.collectors.files %}
{% if atlas_server_id in item.servers %}

local.file_match "{{ item.id | replace('-', '_') }}" {
  path_targets = [
    {
      "__path__" = "{{ item.path }}",
      "source"   = "file",
      "job"      = "{{ item.id }}",
{% if item.project is defined %}
      "project"  = "{{ item.project }}",
{% endif %}
{% if item.component is defined %}
      "component" = "{{ item.component }}",
{% endif %}
    },
  ]
}

loki.source.file "{{ item.id | replace('-', '_') }}" {
  targets       = local.file_match.{{ item.id | replace('-', '_') }}.targets
  forward_to    = [loki.write.atlas.receiver]
  tail_from_end = true
}
{% endif %}
{% endfor %}
