# Managed by Cloudfall. Local changes will be overwritten.
[Unit]
Description=Cloudfall PostgreSQL restore-drill schedule for {{ cloudfall_postgresql_service.id }}

[Timer]
OnCalendar={{ cloudfall_postgresql_service.backup.restoreCheckOnCalendar }}
Persistent=true

[Install]
WantedBy=timers.target
