server {
{% if atlas_logging_backend_stack.gateway.listenAddress == '::' %}
    listen [::]:{{ atlas_logging_backend_stack.gateway.port }} ssl;
{% else %}
    listen {{ atlas_logging_backend_stack.gateway.listenAddress }}:{{ atlas_logging_backend_stack.gateway.port }} ssl;
{% endif %}
    server_name {{ atlas_logging_backend_stack.gateway.serverName }};

    ssl_certificate {{ atlas_logging_backend_stack.gateway.tls.certificatePath }};
    ssl_certificate_key {{ atlas_logging_backend_stack.gateway.tls.keyPath }};
    ssl_client_certificate {{ atlas_logging_backend_stack.gateway.tls.clientCaPath }};
    ssl_verify_client on;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_tickets off;

    client_max_body_size 16m;

    location = /loki/api/v1/push {
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_pass http://{{ atlas_logging_backend_stack.backend.listenAddress }}:{{ atlas_logging_backend_stack.backend.port }};
    }

    location / {
        return 404;
    }
}
