# Managed by Cloudfall. Local changes will be overwritten.
[Unit]
Description=Cloudfall Redis backup schedule for {{ cloudfall_redis_service.id }}

[Timer]
OnCalendar={{ cloudfall_redis_service.backup.onCalendar }}
Persistent=true

[Install]
WantedBy=timers.target
