# Managed by Cloudfall. Local changes will be overwritten.
[Unit]
Description=Cloudfall Redis backup for {{ cloudfall_redis_service.id }}
After=redis-server.service
Requires=redis-server.service

[Service]
Type=oneshot
User=redis
Group=redis
ExecStart=/usr/local/sbin/cloudfall-redis-backup
